.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-indigo {
  background-color: aliceblue;
  color: rgb(113, 113, 223);
}

.w-btn:hover {
  letter-spacing: 1.5px;
  transform: scale(1.1);
  cursor: pointer;
}

.w-btn:active {
  transform: scale(1.2);
}

.standard-btn {
  width: 80px;
  height: 30px;
}

.small-standard-btn {
  width: 60px;
  height: 30px;
}

#time-article-help-button {
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(250, 250, 44, 0.7);
}

@media (min-width: 320px) and (max-width: 480px) {
  .w-btn:hover {
    letter-spacing: 1.2px;
    transform: scale(1.05);
    cursor: pointer;
  }

  .standard-btn {
    width: 60px;
    height: 30px;
  }

  .small-standard-btn {
    width: 40px;
    height: 30px;
    font-size: 10px;
  }
}
