* {
  box-sizing: border-box;
}

.mypage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 600px;
  margin: 20px 40px 40px 40px;
}

.mypage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

#welcome {
  font-size: 16px;
  color: rgb(21, 53, 139);
}

.year-month {
  font-size: 15px;
  color: rgb(21, 53, 139);
}

.nav {
  display: flex;
  height: 40px;
  align-items: center;
}

.year-month {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

.nav-btn {
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: rgb(166, 137, 204);
}

.go-today {
  width: 75px;
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  font-size: 15px;
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
}

.date {
  width: calc(100% / 7);
  font-size: 12px;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: rgb(255, 100, 73, 0.8);
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #3b6bd3;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: white;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 20px;
  height: 20px;
  display: block;
  background-color: tomato;
  border-radius: 50%;
  content: '';
}

.date input :active {
  border: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .day {
    font-size: 12px;
  }

  #welcome {
    font-size: 12px;
  }
}
