/* hidden, appear, focus css */

.hidden {
  display: none;
  opacity: 0;
}

.appear {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.focus {
  text-decoration: underline;
}

/* table css */

.input-table tr {
  height: 30px;
}

.main-table tr {
  height: 50px;
}

/* create form css */

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: rgba(179, 218, 255, 0.7) 1px solid;
}

.form-box {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: rgba(7, 8, 56, 0.3);
}

.to-do-create-container {
  position: absolute;
  text-align: center;
  top: 180px;
  height: 100%;
  width: 60%;
}

.input-time {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  font-size: 12px;
  border: rgba(179, 218, 255, 0.7) 1px solid;
}

.input-title {
  width: 95%;
  height: 40px;
  border-radius: 10px;
  border: rgba(179, 218, 255, 0.7) 1px solid;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* create form button css */

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button-container div {
  flex: 1;
}
.form-button-container button {
  margin: 10px;
  flex: 1;
}

#create-todo-btn {
  height: 30px;
}

#form-close-button {
  height: 30px;
  color: red;
}
