/* hidden, appear, focus css */

.hidden {
  display: none;
  opacity: 0;
}

.appear {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.focus {
  text-decoration: underline;
}

/* table css */

.input-table tr {
  height: 30px;
}

.main-table tr {
  height: 50px;
}

/* create form css */

#create-btn {
  position: absolute;
  top: 500px;
  left: 360px;
  font-size: 18px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-align: center;
  appearance: none;
  text-align: center;
  text-align-last: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.form-box {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: rgba(7, 8, 56, 0.3);
}

.to-do-create-container {
  position: absolute;
  text-align: center;
  top: 180px;
}

.input-time {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align-last: center;
  text-align: center;
  font-size: 11px;
  border: none;
}

.input-title {
  width: 95%;
  height: 40px;
  text-align-last: center;
  border-radius: 10px;
  border: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* create form button css */

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button-container div {
  flex: 1;
}

.form-button-container button {
  margin: 10px;
  flex: 1;
}

@media (min-width: 320px) and (max-width: 480px) {
  #create-btn {
    position: absolute;
    top: 400px;
    left: 250px;
    font-size: 14px;
  }

  .form-box {
    position: absolute;
    left: -15px;
    width: 300px;
    height: 260px;
    border-radius: 30px;
    background-color: rgba(7, 8, 56, 0.3);
  }

  .to-do-create-container {
    position: absolute;
    text-align: center;
    top: 130px;
  }
}
