.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#main-text {
  font-size: 25px;
  font-weight: 200;
  color: rgb(112, 112, 112);
}

.sub-header {
  display: flex;
  align-items: center;
}

.sub-header div {
  flex: 1;
}

.sub-header-btn {
  width: 60px;
  margin: 5px;
  border: none;
  background-color: #dfdfdf;
  color: rgb(78, 78, 78);
}

.sub-header-btn:hover {
  font-weight: bold;
  text-decoration: underline;
}
