/* header css */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.start-header {
  flex: 1;
}

.main-text-container {
  flex: 5;
}

.end-header {
  flex: 1;
}

#main-text {
  font-size: 33px;
  font-weight: 200;
  color: rgb(7, 33, 102);
}

.logout-btn {
  width: 100px;
  height: 30px;
}

/* sub header css */

.sub-header-btn {
  background-color: white;
  border: none;
}

.sub-header-btn:hover {
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .start-header {
    flex: 1;
  }

  .main-text-container {
    flex: 2;
  }

  .end-header {
    flex: 1;
  }

  #logout-btn {
    width: 50px;
    height: 20px;
    font-size: 12px;
  }
}
