@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

body {
  font-family: 'Source Serif 4', sans-serif;
}

.main-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section img {
  padding: 5px 10px;
  width: 200px;
  border: solid 1px gray;
  border-radius: 10px;
}

#main-image {
  width: 250px;
}
