@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
* {
  font-family: 'Source Serif 4', sans-serif;
}

.main-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section {
  height: 46px;
  background-color: #000033;
  text-align: center;
}

#main-logo {
  /* height: 30vh; */
  text-align: center;
  /* margin-top: 200px; */
}

#main-logo img {
  /* border: #000033 solid 15px;
  border-radius: 10px; */
}
