.create-list-btn {
  font-size: 24px;
  width: 50px;
  height: 30px;
  border: none;
}

.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-indigo {
  background-color: aliceblue;
  color: rgb(113, 113, 223);
}

.w-btn:hover {
  letter-spacing: 1.5px;
  transform: scale(1.1);
  cursor: pointer;
}

.w-btn:active {
  transform: scale(1.2);
}
