@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Serif+KR&family=Source+Serif+4&display=swap');

* {
  text-align: center;
  font-family: 'Noto Serif KR', serif;
}

/* datepicker css */

#datepicker {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color: rgb(21, 53, 139);
}

/* main page to do list css */

.container {
  position: relative;
  border-radius: 30px;
  padding: 30px;
  background-color: rgba(179, 218, 255, 0.3);
  height: 560px;
  width: 460px;
  margin: auto;
}

.container-scroll {
  overflow-y: auto;
  height: 430px;
  width: 400px;
  margin: auto;
}

.container-scroll::-webkit-scrollbar {
  display: none;
}

/* 날짜 변경 css */

.date-container {
  display: flex;
  align-items: center;
}

.date-container div {
  flex: 1;
}

.date-move {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-move div {
  flex: 1;
}

.change-date {
  background-color: white;
  border: none;
  font-size: 14px;
  color: rgb(21, 53, 139);
}

/* to do list 수정 페이지 css */

.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.edit-form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 350px;
  border-radius: 30px;
  background-color: rgba(179, 218, 255, 0.3);
}

#edit-text {
  color: rgb(21, 53, 139);
}

/* today버튼 => 공부, 휴식시간 분석창 css */

#statistics {
  position: absolute;
  top: 500px;
  right: 360px;
}

.time-article-container {
  position: absolute;
  top: 180px;
}

.time-article-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: rgba(7, 8, 56, 0.3);
}

#time-article th {
  font-size: 20px;
  color: lavender;
}

#time-article tr {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#time-article-button {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#time-article-button div {
  flex: 1;
}

/* Today분석 도움말 창 css */

#help-container {
  position: absolute;
  top: 215px;
  left: 80px;
}

.help-view {
  padding: 20px;
  width: 300px;
  height: 240px;
  border-radius: 30px;
  background-color: #dce2f0;
}

.help-view table td {
  font-size: 30px;
  color: white;
}

#help-title {
  color: #50586c;
  font-weight: bold;
  font-size: 20px;
}

.help-btn-container {
  display: flex;
}

.help-btn-container div {
  flex: 1;
}

/* footer css */

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 30px;

  text-align: center;
  color: white;
  font-size: 12px;
  background-color: rgba(179, 218, 255, 0.3);
}

.footer-img-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* billboard */

.billboard-container {
  display: flex;
}

.billboard-container div {
  flex: 1;
}

/* swal alert css */

.swal2-popup {
  font-size: 12px !important;
}

/* color-palette css */

.color-container {
  display: flex;
  justify-content: flex-end;
}
.color-palette {
  display: flex;
  width: 300px;
  margin-right: 10px;
  align-items: flex-end;
  justify-content: right;
}

.color-palette div {
  flex: 1;
  font-size: 12px;
}

#study-color {
  background-color: rgb(223, 212, 228);
}
#reading-color {
  background-color: rgba(251, 157, 167, 0.5);
}
#exercise-color {
  background-color: rgba(251, 222, 162, 0.5);
}
#walk-color {
  background-color: rgba(252, 204, 212, 0.5);
}
#date-color {
  background-color: rgba(142, 182, 149, 0.5);
}
#other-color {
  background-color: rgba(62, 149, 205, 0.5);
}

/* loading */

.loader {
  position: absolute;
  left: calc(50% - 30px);
  top: 40%;
  z-index: 1;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    position: relative;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(179, 218, 255, 0.3);
    height: 450px;
    width: 320px;
    margin: auto;
  }

  .container-scroll {
    overflow-y: auto;
    height: 370px;
    width: 270px;
    margin: auto;
  }

  #statistics {
    position: absolute;
    top: 400px;
    right: 250px;
    font-size: 10px;
  }

  .time-article-container {
    position: absolute;
    top: 130px;
  }

  .time-article-view {
    align-items: center;
    position: absolute;
    left: -15px;
    width: 300px;
    height: 260px;
    border-radius: 30px;
    background-color: rgba(7, 8, 56, 0.3);
  }

  #help-container {
    position: absolute;
    top: 140px;
    left: 10px;
  }

  .help-view {
    position: absolute;
    left: 10px;
    padding: 20px;
    width: 280px;
    height: 240px;
    font-size: 30px;
    border-radius: 30px;
    background-color: #dce2f0;
  }

  #help-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 20px;
    font-size: 12px;
  }

  .swal2-popup {
    font-size: 8px !important;
  }

  .color-palette {
    display: flex;
    width: 200px;
    margin-right: 0px;
    align-items: flex-end;
    justify-content: right;
  }

  .color-palette div {
    flex: 1;
    font-size: 11px;
  }

  .loader {
    position: absolute;
    left: calc(50% - 30px);
    top: 20%;
    z-index: 1;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}
