@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Serif+KR&family=Source+Serif+4&display=swap');

* {
  text-align: center;
  font-family: 'Noto Serif KR', serif;
  /* font-family: 'Source Serif 4', sans-serif; */
}

body {
  margin: 0px;
  /* background-color: #ffce9e; */

  background-color: #dfdfdf;
}

#datepicker {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #dfdfdf;
  font-size: 16px;
  font-weight: bold;
  /* color: rgb(113, 113, 223); */
}

.todo-title {
  font-size: 30px;
}

.container {
  position: relative;
  border-radius: 30px;
  padding: 30px;
  overflow-y: auto;
  background-color: rgb(255, 255, 255, 0.7);
  height: 500px;
  width: 400px;
  margin: auto;
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.date-container {
  display: flex;
  align-items: center;
}

.date-container div {
  flex: 1;
}

.date-move {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #dfdfdf; */
}

.date-move div {
  flex: 1;
}

.change-date {
  background-color: #dfdfdf;
  border: none;
  font-size: 14px;
  color: gray;
}

#create-btn {
  position: absolute;
  top: 500px;
  left: 360px;
}
