@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Noto+Serif+KR&family=Source+Serif+4&display=swap');

* {
  text-align: center;
  font-family: 'Noto Serif KR', serif;
}

#time-article td:first-child {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

#time-article td:nth-child(2) {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: lavender;
}

#datepicker {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color: rgb(21, 53, 139);
}

.todo-title {
  font-size: 30px;
}

.container {
  position: relative;
  border-radius: 30px;
  padding: 30px;
  background-color: rgba(179, 218, 255, 0.3);
  height: 500px;
  width: 400px;
  margin: auto;
}

.container-scroll {
  overflow-y: auto;
  height: 430px;
  width: 400px;
  margin: auto;
}

.container-scroll::-webkit-scrollbar {
  display: none;
}

.date-container {
  display: flex;
  align-items: center;
}

.date-container div {
  flex: 1;
}

.date-move {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-move div {
  flex: 1;
}

.change-date {
  background-color: white;
  border: none;
  font-size: 14px;
  color: rgb(21, 53, 139);
}

#create-btn {
  position: absolute;
  top: 500px;
  left: 360px;
}

#statistics {
  position: absolute;
  height: 30px;
  top: 500px;
  right: 360px;
  width: 50px;
}

.time-article-container {
  position: absolute;
  top: 180px;
}

.time-article-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: rgba(7, 8, 56, 0.3);
}

#time-article-close-button {
  width: 100px;
}

#edit-text {
  color: rgb(21, 53, 139);
}

.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.edit-form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 350px;
  border-radius: 30px;
  background-color: rgba(179, 218, 255, 0.3);
}

.edit-button {
  height: 30px;
}

.goal-time-input input {
  width: 15px;
}
