table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-table {
  transition: 0.25s;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

#table-title {
  flex: 3;
  text-align: left;
  font-size: 16px;
  margin-left: 10px;
}

#table-time {
  font-size: 12px;
  color: gray;
  flex: 2;
}

.main-table:hover {
  letter-spacing: 1.2px;
  transform: scale(1.01);
  cursor: pointer;
}

.main-table:active {
  transform: scale(1.01);
}
