table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-table {
  transition: 0.25s;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.table-tr {
  display: flex;
  align-items: center;
}

#table-category {
  flex: 1;
}

#table-title {
  flex: 3;
  font-size: 14px;
  margin-left: 10px;
}

#table-time {
  font-size: 12px;
  color: gray;
  flex: 2;
}

.main-table:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.main-table:active {
  transform: scale(1.03);
}
