<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate">
  <meta name="google-site-verification" content="4bYTTFmHbygVn-51JszWyuJvE7XdOwSmUBChntgFwYE" />
  <title>Steady Life</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/loginPage.css"
  />
  <link
  rel="stylesheet"
  type="text/css"
  href="/public/style/Button.css"
/> 
</head>
<body>
<div class="main"> 
</br>
</br>
<div class="main-container">

  <img id="main-image" src="public/images/steadyLife-001.png" alt=""/>

<% if(!user){ %>
  <br />
  <br />
  <br />
  <div class="main-section">
      <a href="auth/google">
      <img id="login-img" src="public/images/google-login.png" alt=""/>
      </a>
  </div>
<% } else { %>
  <div class="main-section">
    <a href="/todo">
    <button class="w-btn w-btn-indigo" style="width: 100px; height: 40px; margin-top: 60px;">Main Page</button>
    </a>
</div>
<% } %>
</div>
</body>
</html>