<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate">
  <title>Document</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="/public/style/loginPage.css"
  />
</head>
<body>
<div class="main"> 
</br>
</br>
<div class="main-container">
  <div id="main-logo">
  <img src="public/images/steadyLife-001.png" alt=""/>
  </div>
<% if(!user){ %>
  <br />
  <br />
  <br />
  <div class="main-section">
      <a href="auth/google">
      <img id="login-img" src="public/images/btn_google_signin_light_normal_web.png" alt=""/>
      </a>
  </div>
<% } %>
</div>
</body>
</html>