@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

* {
  font-family: 'Source Serif 4', sans-serif;
}

.login-page-header {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 50px;
}
.login-page-item {
  text-align: center;
}

.kakao_login {
  border: 1px solid black;
  border-radius: 10px;
}
