.main-header {
  display: flex;
  text-align: center;
  margin: 20px 50px;
}

.kakao-logout-btn {
  margin-top: 25px;
  margin-left: auto;
  text-align: center;
  width: 80px;
  height: 40px;
}
#profile-img {
  width: 50px;
  border-radius: 70%;
}

#profile-name {
  display: inline;
  margin-left: 10px;
  font-weight: bold;
}

#app {
  margin-left: 50px;
}

.profile {
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (min-width: 1300px) {
}
