.main-header {
  background-color: rgb(245, 245, 245);
  height: 11vh;
}

.main-header-container {
  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.kakao-logout-btn {
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
  width: 80px;
  height: 40px;
}

#profile-img {
  width: 50px;
  border-radius: 70%;
}

#profile-name {
  display: inline;
  margin-left: 10px;
  font-weight: bold;
}

#app {
  margin-left: 50px;
}

.profile {
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (min-width: 1300px) {
}

.proflie-clock-container {
  display: flex;
  align-items: center;
}

#clock {
  font-weight: bold;
  margin-left: auto;
  margin-right: 50px;
}
