.main-header {
  display: flex;
  text-align: center;
  margin: 20px 50px;
}

.kakao-logout {
  margin-top: 25px;
  margin-left: auto;
  text-align: center;
  width: 100px;
  height: 30px;
}

.profile-img {
  width: 130px;
  border-radius: 70%;
}
